
/* Lightbox */
.lightbox {
	position: fixed;
	top: -100%;	/* normally: shown outside of screen */
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.7);	/* semi-transparent black background */
	opacity: 0;
	overflow: hidden;	/* no scroll bars */
	z-index: 1000;	/* required by Leaflet, since it uses positive z-Index, and image should be above */
}

.lightbox img {		/* Lightbox image: no frame, by default not shown = not loaded */
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;	/* make it centered by setting left and right t0 0 */
	right: 0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	display: none;
}

.lightbox:target {	/* Lightbox shown: set opacity to 1, and move lightbox to screen */
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox:target img {	/* Lightbox shown: show image */
	max-height: 100%;
	max-width: 100%;
	display: block;		/* now image is loaded */
}

.lightbox .lb_prevnext {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	pointer-events: none;	/* mouse events captured by children = prev/next buttons */
}

.lightbox .lb_button {	/* Lightbox buttons: semitransparent, extending over full height and 20% of width */
	width: 20%;
	height: 100%;
	opacity: 0.5;
	pointer-events: auto;
}

.lightbox #lb_prev {	/* Lightbox prev button */
	/* color is specified directly, since background images cannot be styled using CSS; currentColor is set for everything, but does not pass on color value */
	background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' class='svgicon-filled' width='45' height='60' viewBox='0 0 45 60'%3E%3Cpath fill='%23c0c0c0' d='M0,0 V60 H45 V0 H0 Z M30,10 l 4,4 -16,16 16,16 -4,4 -16,-16 0,-8 z' /%3E%3C/svg%3E") left center no-repeat;
	float: left;
	text-align: left;
}

.lightbox #lb_next {	/* Lightbox next button */
	background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' class='svgicon-filled' width='45' height='60' viewBox='0 0 45 60'%3E%3Cpath fill='%23c0c0c0' d='M0,0 V60 H45 V0 H0 Z M30,10 l 4,4 -16,16 16,16 -4,4 -16,-16 0,-8 z' transform='scale(-1 1) translate(-45)' /%3E%3C/svg%3E") right center no-repeat;
	float: right;
	text-align: right;
}

.lightbox #lb_prev:hover, .lightbox #lb_next:hover {
	opacity: 1;	/* when hovering over the prev/next buttons, show them with full opacity */
}



/* Spinner */
/* outer div = rounded rectangle, semi-tranparent, fixed and centered; inner div = spinner, rectangle rounded to circle, dotted border, total width = width + 2 * margin + 2 * border width */
#spinner		{ position: fixed; width: 20vh; height: 20vh; left: 50%; top: 50%; margin-left: -10vh; margin-top: -10vh; border-radius: 20%; background-color: rgba(220, 220, 220, 0.8); z-index: 2000; display: none; }
#spinner > div		{ width: 12vh; height: 12vh; left: 50%; top: 50%; margin-left: 2vh; margin-top: 2vh; border: 2vh dotted grey; border-radius: 50%; animation: spin 1s linear infinite; }
@keyframes spin		{ to { transform: rotate(360deg); } }



/* Leaflet, Google Maps */
#map, #mapcontainer	{ width: 100%; height: 1000px; margin:0; padding:0; }

